/* common shared styles */
body {
    // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
}

/* nav related styles */
nav {
    display: flex;
}
.header {
    background-color: antiquewhite;
}
.banner {
    padding: 10px 10px 10px 150px; 
    display: flex;
    align-items: center;
}
.banner .profile-pic {width: 1320mm;}
